$light-border: #e2e2e2;
$gray-border: #a9a9a9;
$dark-border: #4f4f4f;

$white: #f6f6f6;
$dark-white: #d1d1d1;

$extra-light-dark: #2f2f2f;
$light-dark: #232323;
$dark: #161616;

$light-blue: #928fea;
$blue: #5d59de;

$extra-light-orange: #eed4c2;
$light-orange-red: #ea7d68;
$orange-red: #d94b2b;
$dark-orange-red: #913520;
$invert-orange-red: #112b3d;
$invert-dark-blue: #eed4c2;

$green: #a0db49;

$tr-a-3: all .3s ease;
$tr-a-5: all .5s ease;